/* Este es el estilo del main */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");


:root{
    --naranja-unimex: #f8981d;
    --azul-unimex : #004b93;
    --fondo-gris: #eef1f3;
}

*{
    margin: 0;
    padding: 0;
   
}

body, html{
    width: 100%;
    overflow-x: hidden;
    background-image: url(./assets/img/FONDO.JPG);
    background-size: cover;
    background-repeat: no-repeat;
}

header{
    height: fit-content;
    width: 100%;
}

#nav-logo{
    height: auto;
    width: 280px;
}

.container > section {
    margin-bottom: 15px;
    margin-top: 15px;
}

.col-5{
    width: 100% !important;
}

#contacto{
    font-size: 10px;
}

/*section registro*/

#registro{
    background-color: white;
    width: 50%;
    margin-top: 100px;

}

#ilustracion{
    max-width: 200px;
    display: block;
    position: static;
    margin-right: auto;
    margin-left: auto;
}

#img-ilustracion{
    height: auto;
    margin-top: -100px;
}

#img-modelo{
    height: max-content;
    margin-left: -171px;
}

#registro > #mensaje-formulario, #formulario{
    height: auto;
}

#mensaje-formulario{
    font-weight: bold;
    font-style: italic;
    color: #001e62;
}


#modelo{
    height: 900px;
    width: 360px;
    float: left;
    display: flex;
    position: static;
    margin-left: -330px;
    background-image: url(./assets/img/MODELO2.png);
    background-repeat: no-repeat;
    background-size: 360px 100%;
    

}

#registro > #mensaje {

    align-self: center;
    text-align: center;
}

#registro > #mensaje > #titulo1 {

    color: var(--azul-unimex);
    font-weight: bold;
}

#registro > #mensaje > #titulo2 {
    color: var(--naranja-unimex);
}

#registro > #formulario{
    height: auto;
}

.shadow2 {
    box-shadow: -2.5rem 0rem 2rem -3rem rgba(0,0,0,.15)!important;
}

.form-label{
    color: var(--azul-unimex);
}

.form-control, .form-select{
    background-color: var(--fondo-gris) !important;
    border: none !important;

}

p{
    text-align: center;
}

a{
    color: var(--azul-unimex) !important;
    text-decoration: none !important;
}

#boton{
    border-color: var(--naranja-unimex);
    background-color: var(--naranja-unimex);
}


/*footer*/
footer{
    text-align: center;
    color: white;
    background-color: var(--azul-unimex);
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: transparent;

}

/*media queries*/

@media (max-width: 576px) {
    header > .container{
        justify-content: center !important;
    }
    #registro{
        width: 100%;
    }
    #logo{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    #modelo{
        display: none;
    }
}

@media (min-width: 576px) {
    header > .container{
        justify-content: center !important;
    }
    #registro{
        width: 100%;
    }
    #logo{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    #modelo{
        display: none;
    }
    

}

@media (min-width: 768px) {
    header > .container{
        justify-content: center !important;
    }
    #registro{
        width: 100%;
    }
    #logo{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    #modelo{
        display: none;
    }
    

}

@media (min-width: 992px) {
    header > .container{
        justify-content: right !important;
    }
    #registro{
        width: 50%;
        margin-left: calc(100%/3.5);
    }
    #logo{
        margin-left: 0;
        margin-right: 0;
    }
    #modelo{
        display: flex;
    }
    


    
}

@media (min-width: 1200px) {
    header > .container{
        justify-content: right !important;
    }
    #registro{
        width: 50%;
        margin-left: calc(100%/3.5);
    }
    #logo{
        margin-left: 0;
        margin-right: 0;
    }
    #modelo{
        display: flex;
    }
    
}

@media (min-width: 1400px) {
    header > .container{
        justify-content: right !important;
    }
    #registro{
        width: 50%;
        margin-left: calc(100%/3.5);
    }
    #logo{
        margin-left: 0;
        margin-right: 0;
        
    }
    #modelo{
        display: flex;
        margin-top: -23px;
    }
    
}




